


<div class=" row navigation">
    <div class=" col-md-12 ">
        <ul class="navigation-ul">
            <li class="navigation-ul-one"><a>
                <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                <p class="icon-text"> Home</p>
            </a> </li>
            <li class="navigation-ul-two"><a>
                <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
                <p class="icon-text">Jobs</p>
            </a> </li>
            <li class="navigation-ul-three"><a>
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    <p class="icon-text">Profile</p>
            </a> </li>
            <li class="navigation-ul-four"> <a>
                    <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
                    <p class="icon-text"> Create Resume</p>
            </a></li>

                <li class="navigation-ul-four"> <a>
                    <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
                   <p class="icon-text">Online Tests</p>
                    </a></li>

        </ul>
    </div>
</div>