<div class="profile-header">
    <app-student-common-nav-bar></app-student-common-nav-bar>

</div>

<div class="profile">
    <div class="col-md-12 profile-image">
        
            <img class="p-image" src="../../../assets/images/profile.jpg"/>
        
    </div>
    <div class="col-md-12 profile-name">
        
           <p>Dylan O'Brien</p>
        
    </div>
    <div class="col-md-12 profile-institute">
        
           <p>Sri Lanka Institute of Information Technology</p>
        
    </div>
</div>