hr{
    width:2px;
}

table
{
    width:100%;
}

tr{
    height:50px;
}
.profile{
    margin-top:50px;

}


.profile-image{
    text-align:center;

}

.p-image{
   
   float:left;
   margin-top:25px;

}

.profile{
    width:50%;
    height:500px;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 10px 10px 5px  #888888;
    background:#f5f5f5;
    
}
.profile-intro{
    float:right;
    margin-top:20px;

}
.profile-name{
    margin-top:10px;
    text-align:left ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.profile-institute{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
     font-weight: 300;
     margin-top:-5px;

}

.btn-profile-pic{
    margin-top:10px;
    width:220px;
    margin-left:58px;
}

.btn-resume-view{
    margin-top:20px;
}