
<div class="jobs-header">
    <app-student-common-nav-bar></app-student-common-nav-bar>

</div>

<div class="col-md-12 job-text">
    <p> Internships Offered By Many Reputed Companies In The Country<p>
    <p> Apply Now!</p>    
</div>

<div class="vacancies">
    <div class="row">
        <div class="col-md-3 vacancy wso2">
            <a><img src="../../../assets/images/wso2.png" /></a>
        </div>
         <div class="col-md-3 vacancy pearson">
              <a><img src="../../../assets/images/pearson1.png" /></a>
        </div>
         <div class="col-md-3 vacancy totalamber">
              <a><img src="../../../assets/images/totalamber1.png" /></a>
        </div>
         <div class="col-md-3 vacancy keels">
             <a><img src="../../../assets/images/keels.png" /></a>
        </div>
         <div class="col-md-3 vacancy dialog">
             <a><img src="../../../assets/images/dialog.png" /></a>
        </div>
         <div class="col-md-3 vacancy virtusa">
             <a><img src="../../../assets/images/virtusa1.png" /></a>
        </div>
    </div>
</div>    