 <div class="">
    <app-student-common-nav-bar></app-student-common-nav-bar>

</div>

<div class="apply-form">
    <h3>Inquiries</h3>
    <form class="apply-job-form">
           <div class="form-group">
            <label for="StudentName">Name</label>
            <input type="text" class="form-control" id="studentname" aria-describedby="nameHelp" placeholder="Enter Name">
           
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Your Email">
           
          </div>

          <div class="form-group">
            <label for="jobID">Job ID</label>
            <input type="text" class="form-control" id="JobID"  placeholder="" >
          </div>
          <div class="form-group">
            <label for="jobID">Inquiry</label>
            <textarea class="form-control"></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-danger btn-save-changes">Send Inquiry</button>

          </div>





        </form>

</div>