
<div class="jobs-header">
    <app-faculty-common-nav-bar></app-faculty-common-nav-bar>

</div>

<div class="searchbar">
    <input type="text" class="form-control" id="studentId"  placeholder="Enter Student Name/ID" >
    <button class="button">Search </button> 
 </div>

   
    <div class=" col-md-12 ">
            <div class="navigation">
                    
        <ul class="navigation-ul">

            <li class="list">
                   

                   <p class="selection-text"> <i class="fa fa-user fa-3x" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; Create New Student Profile </p>
                    </li><br>

            <li class="list"> 
                   <p class="selection-text">  <i class="fa fa-file-text fa-3x" aria-hidden="true"></i> &nbsp; &nbsp; Add Records to Student Profile </p>
                     </li><br>

            <li class="list">
                  <p class="selection-text">  <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>&nbsp; &nbsp; Student Trainee Records </p>
                    </li>

        </ul>
    </div>
  
</div>    