.selection-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color:#3DA1E4;
}
.navigation{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
}
.searchbar{
    margin-left: 800px;
    margin-right: 30px;
    margin-top:50px;
}
.form-control{
    width:70%;
}


.button{
    width:auto;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 15px;
    background-color: #f41336;
    color: white; -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.1s;
    }
    .button:hover {
        background-color:#ec6960;  /* Green */
        color: white;
    }


.navigation-ul{
  
    width:60%;
    margin-left: auto;
    margin-right:auto;
    margin-top:25px;
    list-style-type: none;
}

.list{
    border-radius: 8px;
    padding: 8px 24px;
    /* text-align: center; */
    font-size: 15px;
    background-color: rgb(202, 230, 238);
    color: #008CBA(255, 255, 255); -webkit-transition-duration: 0.2s; 
    transition-duration: 0.3s;
    }
    .list:hover {
        background-color:#9AC0CD;  
        color: white;
    }

    a:hover {
        text-decoration: none;
    }


.search{
    border-radius: 6px;
    padding: 6px 24px;
    font-size: 15px;
    width:70%;

}
    
