
<html>
<body>
  <div class="top-navigation">
  <app-nav-bar></app-nav-bar>
  </div>
	<div class="row body-content">
		<div class="col-md-12 home-page-text">
			<p class="home-title">Go Farther With Training and Placement</p>
			<p class="home-subtitle">SmartCarrier.Com gives you endless possibilities with training and placement.</p>
      <p class="home-subtitle">Start your tarining today!</p>
		</div>
     <div class="col-md-12 home-page-navigation">
    <app-admin-navigation></app-admin-navigation>
  </div>
	</div>

 </body>
</html>