
<div class="jobs-header">
    <app-admin-common-navigation></app-admin-common-navigation>

</div>

<div class="col-md-12 job-text">
     <h3>Companies</h3>
</div>

<div class="vacancies">
   <table class="table table-hover vacancies-table">
       <thead>
           <tr>
               <th>Heading 1</th>
               <th>Heading 2</th>
               <th>Heading 3</th>
               <th>Heading 4</th>
               <th>View/Delete</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>Lorem Ipsum</td>
               <td>Lorem Ipsum</td>
               <td>Lorem Ipsum</td>
               <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
               <td>
                   <button class="btn btn-primary">view</button>
                   <button class="btn btn-danger">delete</button>
               </td>
           </tr>

            <tr>
               <td>Lorem Ipsum</td>
               <td>Lorem Ipsum</td>
               <td>00001</td>
               <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
               <td>
                   <button class="btn btn-primary">view</button>
                   <button class="btn btn-danger">delete</button>
               </td>
           </tr>
            <tr>
               <td>Lorem Ipsum</td>
               <td>Lorem Ipsum</td>
               <td>00001</td>
               <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
               <td>
                   <button class="btn btn-primary">view</button>
                   <button class="btn btn-danger">delete</button>
               </td>
           </tr>
            <tr>
               <td>Lorem Ipsum</td>
               <td>Lorem Ipsum</td>
               <td>00001</td>
               <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
               <td>
                   <button class="btn btn-primary">view</button>
                   <button class="btn btn-danger">delete</button>
               </td>
           </tr>

            
       </tbody>
   </table>
</div>    