
<div class="jobs-header">
    <app-faculty-common-nav-bar></app-faculty-common-nav-bar>

</div>



<div class="content">
    
    <div class=" col-md-12 ">
        <div class="div2">

                <div class="form-group">
                         <label >Enter the student ID </label> 
                        <input type="text" class="form-control" id="studentId"  placeholder="Enter Student ID" >
                 </div>

                 <div class="form-group">
                        <label >Description </label> 
                       <input type="text" class="form-control" id="decription"  placeholder="Description" >
                </div>
                
                 <button class="button">Add Academic Record</button> 
                 <button class="button">Add Extracurricular Record</button> 

         </div>
    </div>
  
</div>    