 .icon-text{    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color:#3DA1E4;
}   

.reports{
    width:70%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}
.job-text{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color:#3DA1E4;
    margin-top:60px;
    margin-bottom: 30px;
}

.vacancies-table{
    width:80%;
    margin-left:auto;
    margin-right:auto;

}


table>thead>tr>th{
    text-align: center;
}
table>tbody>tr>td{
    text-align: center;
}


.navigation-ul{
  
    width:60%;
    margin-left: auto;
    margin-right:auto;
    margin-top:25px;
    list-style-type: none;
}


.list{
    border-radius: 8px;
    font-size: 20px;
    /* background-color: rgb(202, 230, 238); */
    /* color: #008CBA(255, 255, 255); -webkit-transition-duration: 0.4s;  */
    transition-duration: 0.3s;
    }
 
    
.active{
    border-radius: 8px;
    font-size: 15px;
    background-color: rgb(202, 230, 238);
    color: #008CBA(255, 255, 255); -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
}


.job-text{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color:#3DA1E4;
    margin-top:60px;
    margin-bottom: 30px;
}
.vacancies{
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

a:hover {
    text-decoration: none;
}

.tab-pane{    
    background-color: #f2f4f2;
}

.vacancies-table{
    width:80%;
    margin-left:auto;
    margin-right:auto;

}

.searchbar{
    margin-left: 600px;
    margin-right: 30px;
    /* margin-top:10px; */
    margin-bottom:10px;
    
}
.attach{
    border-radius: 6px;
    padding: 4px 24px;
    font-size: 15px;
    width:70%;
}
.button{
    width:auto;
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 11px;
    background-color: #f41336;
    color: white; -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.1s;
      margin-left: 170px;
    margin-right: 10px;
    }
    .button:hover {
        background-color:#ec6960;  /* Green */
        color: white;
    }

.form-control{
    width:90%;
}