<div class="container">
    <div class="jumbotron" style="margin-top: 150px">



        <div class="reports">


            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#papers" data-toggle="tab">
                        <p class="icon-text">
                            Publish Sample Test Papers </p>
                    </a>
                </li>
                <li class="list">
                    <a href="#notice" data-toggle="tab">
                        <p class="icon-text">
                            Publish Notices </p>

                    </a>
                </li>

            </ul>

            <div class="tab-content">
                <div id="papers" class="tab-pane fade in active">
                    <!-- <h3>Sample Papers</h3> -->

                    <br>
                    <div class="searchbar">
                        <!-- <input type="text" class="attach" id="attach" placeholder="...."  > -->
                        <button class="button" data-toggle="modal" data-target="#upload">Upload Papers </button>
                    </div>

                    <div class="vacancies">
                        <table class="table table-hover vacancies-table">
                            <thead>
                                <tr>
                                    <th class="w3-text-blue">Paper ID</th>
                                    <th class="w3-text-blue">Uploaded Date Date </th>
                                    <th class="w3-text-blue">Paper Title</th>
                                    <th class="w3-text-blue">Attachment</th>

                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td>p001</td>
                                    <td>5/12/2017</td>
                                    <td>Placement test paper 1 </td>
                                    <td>...</td>
                                </tr>

                            </tbody>
                        </table>
                      
                    </div>
                </div>



                <div id="notice" class="tab-pane fade">
                    <!-- <h3>Notices</h3> -->
                    <br>
                    <br>
                    <table class="table table-hover" id="table1">
                        <thead>
                            <tr>
                                <th class="w3-text-blue">Notice ID</th>
                                <th class="w3-text-blue">Created Date </th>
                                <th class="w3-text-blue">Description</th>
                                <th class="w3-text-blue">Attachment</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>p001</td>
                                <td>5/12/2017</td>
                                <td>Notice 1</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>p002</td>
                                <td>5/10/2016</td>
                                <td>Notice 2</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>p003</td>
                                <td>5/12/2015</td>
                                <td>Notice 3</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>p004</td>
                                <td>5/11/2016</td>
                                <td>Notice 4</td>
                                <td>...</td>
                            </tr>

                      
                        </tbody>
                    </table>
                    <br>
                    <br>
                </div>

            </div>

        </div>


        <div class="modal fade" id="upload" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Sample Papers </h4>
                    </div>
                    <div class="modal-body">

                        <div class="col-md-6">
                                        <input type="file" class="form-control" id="univercityname" aria-describedby="nameHelp">
                            
                            <button class="" data-toggle="modal" data-target="#upload"> Attach File </button>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Upload </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>