
.content-1, .content-2, .content-3{
margin-top:80px;
padding: 20px;
margin-right: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16px;

}
.content-1:hover, .content-2:hover, .content-3:hover{
     box-shadow: 2px 2px 1px #888888;

}

.content-1{
border:solid #5974AD 3px;

}

.content-2{
border:solid #5974AD 3px;

}

.content-3{
border:solid #5974AD 3px;

}


.content-header{

padding-bottom: 10px;
}


.btn-read-more{
    color:#FFFFFF;
    margin: 20px 0 20px 0;
    background: #E95F6A;
   
}

.btn-read-more:hover{
    color:#FFFFFF !important;
     box-shadow: 2px 2px 1px #E95F6A;
    background: #E95F6A;
   
}