<div class=" row navigation">
  <div class=" col-md-12 ">
    <ul class="navigation-ul">
      <li class="navigation-ul-one"><a>
                <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                <p class="icon-text"> Home</p>
            </a> </li>
      <li class="navigation-ul-three"><a  (click)="goToProfile()">
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    <p class="icon-text">Profile</p>
            </a> </li>
      <li class="navigation-ul-four"> <a (click)="goToPublishVacancy()">
                    <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
                    <p class="icon-text">Publish Vacancies</p>
            </a></li>
      <li class="navigation-ul-five"> <a (click)="goToReports()">
                    <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
                   <p class="icon-text">Generate Reports</p> 
                    </a></li>
      <li class="navigation-ul-one"><a (click)="goToInterns()">
                <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
                <p class="icon-text"> Interns </p>
            </a> </li>
    </ul>
  </div>
</div>