<div class="container">
    <div class="jumbotron">
        <h3 style="text-align: center;">View Companies</h3>
        <br/>
        <br/>
        <table class="table table-striped">
            <thead>
                <tr class="info">
                    <th>Company Name</th>
                    <th>Description</th>
                    <th>Contact Person</th>
                    <th>Contact Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of store.companyList">
                    <td>{{company.companyName}}</td>
                    <td>{{company.description}}</td>
                    <td>{{company.contactPerson}}</td>
                    <td>{{company.contactNumber}}</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="setCompany(company)">view</button>
                        <button class="btn btn-danger">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" *ngIf="store.company">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="padding-left: 5px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Profile</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="StudentName">Company Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" [(ngModel)]="store.company.companyName"
                            readonly>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <label for="StudentName">Description</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" [(ngModel)]="store.company.description"
                            readonly>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-4">
                        <label for="StudentName">E-mail</label>
                    </div>
                    <div class="col-md-6">
                        <input type="e-mail" class="form-control" id="univercityname" aria-describedby="nameHelp" [(ngModel)]="store.company.companyName" readonly>
                    </div>
                </div>
                <br/> -->
                <!-- <div class="row">
                    <div class="col-md-4">
                        <label for="StudentName">Web Site</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" [(ngModel)]="store.company.companyName" readonly>
                    </div>
                </div> -->
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <label for="StudentName">Contact Number</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" [(ngModel)]="store.company.contactNumber"
                            readonly>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <label for="StudentName">Contact Person</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" [(ngModel)]="store.company.contactPerson"
                            readonly>
                    </div>
                </div>
                <br/>
                <!-- <div class="row">
                    <div class="col-md-4">
                        <label for="StudentName">About Us description</label>
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" id="univercityname"  [(ngModel)]="store.company.companyName" readonly></textarea>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
