<div class="container">
    <div class="jumbotron">
        <table class="table table-striped">
            <thead>
                <tr class="info">
                    <th>Heading 1</th>
                    <th>Heading 2</th>
                    <th>Heading 3</th>
                    <th>Heading 4</th>
                    <th>View/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of store.companyList">
                    <td>{{company.companyName}}</td>
                    <td>{{company.description}}</td>
                    <td>{{company.contactPerson}}</td>
                    <td>{{company.contactNumber}}</td>
                    <td>
                        <button class="btn btn-primary">view</button>
                        <button class="btn btn-danger">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>