
<div class="jobs-header">
        <app-faculty-common-nav-bar></app-faculty-common-nav-bar>
    
    </div>
    
    
  
    <div class="searchbar">
            <input type="text" class="search" id="studentId"  placeholder="Enter Student Name/ID.." >
            <button class="button">Search </button> 
         </div>
    
    <div class="vacancies">
       <table class="table table-hover vacancies-table">
           <thead>
               <tr>
                   <th>Job ID</th>
                   <th>Company</th>
                   <th>Job Title</th>
                   <th>Duration</th>
                   <th> Status </th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>0001</td>
                   <td>Virtusa</td>
                   <td>UI/UX Internship</td>
                   <td>6 months</td>
                   <td >Completed</td>
                
               </tr>
    
                <tr>
                   <td>0002</td>
                   <td>Totalamber</td>
                   <td>Associate Software Engineer</td>
                   <td>1 year</td>                   
                   <td >Completed</td>
               
               </tr>
    
                <tr>
                   <td>0003</td>
                   <td>Pearson</td>
                   <td>UI/UX Internship</td>
                   <td>6 months</td>
                   <td >Not Complete</td>
               
               </tr>
    
                <tr>
                   <td>0004</td>
                   <td>WSO2</td>
                   <td>Full Stack Developer</td>
                   <td>1 year</td>
                   <td >Not Complete</td>
                
               </tr>
    
                <tr>
                   <td>0005</td>
                   <td>Virtusa</td>
                   <td>Associate Business Analyst</td>
                   <td>1 year</td>                   
                   <td >Completed</td>
               
               </tr>
           </tbody>
       </table>
    </div>    