.job-text{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color:#3DA1E4;
    margin-top:60px;
    margin-bottom: 30px;
}
.vacancies{
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}

.searchbar{
    margin-left: 800px;
    margin-right: 30px;
    margin-top:50px;
}
.searchbutton{
    margin-left: 1100px;
    margin-right: 0px;
    margin-top:0px;
}

.vacancies-table{
    width:80%;
    margin-left:auto;
    margin-right:auto;

}

table>thead>tr>th{
    text-align: center;
}
table>tbody>tr>td{
    text-align: center;
}


.button{
    width:auto;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 15px;
    background-color: #f41336;
    color: white; -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.1s;
    }
    .button:hover {
        background-color:#ec6960;  /* Green */
        color: white;
    }

.form-control{
    width:70%;
}