 .icon-text{    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color:#3DA1E4;
}   

.reports{
    width:70%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}


.vacancy a{
    cursor:pointer;
}



.navigation-ul{
  
    width:60%;
    margin-left: auto;
    margin-right:auto;
    margin-top:25px;
    list-style-type: none;
}


.list{
    border-radius: 8px;
    padding: 10px 24px;
    /* text-align: center; */
    font-size: 15px;
    background-color: rgb(202, 230, 238);
    color: #008CBA(255, 255, 255); -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    }
    .list:hover {
        background-color:#9AC0CD;  /* Green */
        color: #008CBA;
    }
    


