                    
<div class="jobs-header">
    <app-faculty-common-nav-bar></app-faculty-common-nav-bar>

</div>

<div class=" edit-student-profile-inner">
              
                <h3>Create Student Account</h3>
                <form class="edit-student-profile-form">
                    
                    <div class="form-group">
                        <label for="StudentFullName"> Full Name</label>
                        <input type="text" class="form-control" id="studentfullname" aria-describedby="nameHelp" placeholder="Enter Your Full Name">
                      </div>
            
                      <div class="form-group">
                        <label for="NIC">NIC</label>
                      <input type="text" class="form-control" id="nic" aria-describedby="nicHelp" placeholder="Enter NIC here">
                      </div>
    
                      <div class="form-group">
                          <label for="Birthday">Birthday</label>
                          <input type="date" class="form-control" id="birthday"  placeholder="Enter Your Birthday" >
                        </div>
              
                   <div class="form-group">
                      <label for="fieldofspeciality">Field of Specialization</label> <br>                    
                      <select class="form-control">
                          <option value="BSc in Information Technology">BSc in Information Technology</option>
                          <option value="BSc in Software Engineering">BSc in Software Engineering</option>
                          <option value="BSc in Cyber Security">BSc in Cyber Security</option>                    
                     </select> 
                   </div> 
                   
                   <br> <br>     
                  <div class="form-group">
                    <button class="btn btn-primary btn-save-changes">Create Account</button>
        
                  </div>
        
                </form>
   
            </div>