.header{
	height:40px;
    background-color:white;
}
.logo{
	text-align:left;
}

.header-links{
	text-align:right;
}

.header-links a{
	text-decoration:none;
	color:#ffffff !important;
	padding:8px 8px 8px 8px;
    font-size: 18px;
    margin-right: 20px;
    margin-top:20px;
     cursor:pointer !important;
	border-bottom: 2px solid transparent;

}

.header-links a:hover{
    border-bottom: 2px solid #ffffff;
}