.create-resume-text{
    margin-top:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:34px;
    text-align: center;
    color:#498DE7;
    padding-bottom:30px;
}

.create-resume-inner{
     width:50%;
    height:100%;
    margin-left: auto;
    margin-right:auto;
   
    background:#f5f5f5;
}

h3{
    text-align: center;
    margin-top:10px;
    margin-bottom:30px;
}

.create-resume-form{
    width:100%;
margin-left:auto;
    margin-left:auto;

}
.form-group{
    width:50%;
    
}

input{
    margin-top:10px;
    border-radius: 5px;
    
}

.cv-image > input
{
    display: none;
   
}

.basic-info > input{
   width:350px;

    
}

textarea{
    width:79%;
    height: 80px;
    border-radius: 5px;
   
}

.Description{
    width:90%;
}
.personal-information > input{
    width:90%;
    height:50px;
}

.personal-information > textarea{
   
    height:100px;
     width:90%;
}
.personal-information,.Education,.Experience{
   
     width:90%;
}
.Education >input{
    width:79%;
}

.Experience > textarea{
    height:150px;
}

.btn-create-resume{

  
    margin-bottom: 20px;
    margin-top:10px;
}

.create-resume-form{
    margin-top:25px;
}


.example-wrapper{
    margin-left:auto;
    margin-right:auto;
}