


<kendo-pdf-export #pdf   >
 <div class="row example-wrapper" style="background:#ffffff">
    <div class="col-xs-12 col-sm-6 offset-sm-3 example-col">
        <div class="card">
            <div class="card-block create-resume-inner">
                <form class="k-form create-resume-form">
                    <fieldset>
                        <legend>Basic Details</legend>

                        <label class="k-form-field">
                            <span>Full Name</span>
                            <input class="k-textbox" placeholder="Your Name" />
                        </label>
                        <label class="k-form-field">
                            <span>Address</span>
                            <input class="k-textbox"  placeholder="Your Address" />
                        </label>
                        <label class="k-form-field">
                            <span>Phone</span>
                            <input class="k-textbox"  placeholder="Your Phone" />
                        </label>
                         <label class="k-form-field">
                            <span>Email <span class="k-required">*</span></span>
                            <input type="email" class="k-textbox"  placeholder="Your Email" />
                        </label>
                        <label class="k-form-field">
                            <span>NIC</span>
                            <input class="k-textbox"  placeholder="Your Address" />
                        </label>
                       
                        <label class="k-form-field">
                            <span>Description</span>
                            <textarea class="k-textarea" placeholder="Add your description"></textarea> 
                        </label>
                    </fieldset>

                    <fieldset>
                        <legend>Educational Qualifications</legend>
                        <label class="k-form-field">
                            <span>GCE O/L</span>
                            <input class="k-textbox"  placeholder="GCE O/L Results" />
                        </label>
                        <label class="k-form-field">
                            <span>GCE A/L</span>
                            <input type="k-textbox" class="k-textbox"  placeholder="GCE A/L Results"/>
                        </label>
                        <label class="k-form-field">
                            <span>CGPA</span>
                            <input type="k-textbox" class="k-textbox"  placeholder="CGPA"/>
                        </label>
                    </fieldset>

                    <fieldset>
                        <legend>Experience</legend>
                         <label class="k-form-field">
                            <span>Experience</span>
                            <textarea class="k-textarea" placeholder="Describe your experiences briefly here"></textarea> 
                        </label>
                    </fieldset>
                    
                </form>
            </div>
        </div>
    </div>
</div>
 </kendo-pdf-export>
 <button kendo-button (click)="pdf.saveAs('invoice.pdf')">
              Save As PDF...
            </button>



  
     
            