<div class="profile-header">
  <app-company-common-navigation></app-company-common-navigation>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="profile">

      <div class="col-md-5 profile-image">
        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
      </div>

      <div class="col-md-7">
        <h2>Millennium IT</h2>
        <br />

        <h4><b> Contact Info </b></h4>
        <small>
          <cite title="San Francisco, USA">
            01 Millennium Drive, Malabe
            <i class="glyphicon glyphicon-map-marker"></i>
          </cite>
        </small>

        <p>
          <i class="glyphicon glyphicon-envelope"></i>info@millenniumit.com
          <br />
          <i class="glyphicon glyphicon-globe"></i><a href="https://www.millenniumit.com/">www.millenniumit.com</a>
          <br />
          <i class="glyphicon glyphicon-earphone"></i>011 2 416000
          <br />
          <i class="glyphicon glyphicon-user"></i>Mr.Somebody</p>
        <!-- Split button -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary">
                                      Social</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                      <span class="caret"></span><span class="sr-only">Social</span>
                                  </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Twitter</a></li>
            <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
            <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
            <li class="divider"></li>
            <li><a href="#">Github</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-5">
        <br/>
        <h4><b> About Us </b></h4>
        <p>
          MillenniumIT is a leading innovative trading technology business. MillenniumIT’s systems are used by exchange businesses
          around the world including, London Stock Exchange, Borsa Italiana, Oslo Børs,Turquoise, the London Metal Exchange,
          Johannesburg Stock Exchange and a series of emerging market exchanges.
        </p>

        <p>
          MillenniumIT's suite of capital markets products include Millennium Exchange™ (trading platform), Millennium SOR™ (smart
          order router), Millennium MarketData™ (multi-market market data dissemination) Millennium Surveillance™ (market
          surveillance and regulatory compliance), Millennium PostTrade™ (clearing and settlement) and Millennium Gateway
          (single trading interface). These products cater to trading multiple asset classes including equities, derivatives,
          debt, commodities, forex, structured products and exchange-traded funds.
        </p>

        <p>
          The systems integration business of MillenniumIT, is a leading Sri Lankan information technology solutions provider, specialising
          in IT solutions for the financial and telecom industries. MillenniumIT also offers information technology infrastructure
          and consulting services.
        </p>

        <p>
          Founded in 1996, and headquartered in Colombo, Sri Lanka, MillenniumIT was acquired by the international diversified exchange
          business London Stock Exchange Group in October 2009.
        </p>

        <br />
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit Profile</button>
        <br/>

        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Profile</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <div class="col-md-2">
                      <label for="StudentName">University Name</label>
                    </div>
                    <div class="col-md-6"> 
                      <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" >
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="StudentName">Address</label>
                    </div>
                    <div class="col-md-6"> 
                      <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp">
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="StudentName">E-mail</label>
                    </div>
                    <div class="col-md-6"> 
                      <input type="e-mail" class="form-control" id="univercityname" aria-describedby="nameHelp" >
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="StudentName">Web Site</label>
                    </div>
                    <div class="col-md-6"> 
                      <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" >
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="StudentName">Contact Number</label>
                    </div>
                    <div class="col-md-6"> 
                      <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" >
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="StudentName">Contact Person</label>
                    </div>
                    <div class="col-md-6"> 
                      <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" >
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="StudentName">About Us description</label>
                    </div>
                    <div class="col-md-6"> 
                      <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp" >
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" > Save Changes </button> 
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>