<!--<ul>
  <li><a href="#contact">LOGIN</a></li>
  <li><a href="#about">SIGN UP</a></li>
</ul>-->

<div class="header">
	<div class="row">
		<div class="col-md-4 logo">
			<img src="logo.jpg"/>
		</div>
		<!--<div class="col-md-5 logo">
			<i class="fa fa-search"></i>
			<div class="form-group">
				<input type="text-felid" class="form-control" id="studentname" aria-describedby="nameHelp" placeholder="Enter Name">
			</div>
		</div>-->
		<div class="col-md-8 header-links">
			<a>Home</a>
      <a>Profile</a>
			<a>Publish Vacancies</a>
      <a>Generate Reports</a>
		</div>
	</div>
	</div>
