<div class=" edit-student-profile-header">
    <app-student-common-nav-bar></app-student-common-nav-bar>
</div>

<div class="col-md-12 create-resume-text">
    Create Your Resume Now!
</div>


<div class="col-md-12 resume-form-div">
    <div class="create-resume-inner">
     <form class="create-resume-form">
        <div class="col-md-12 resume-form-inner">
          
          <div class=" row ">
              <div class="col-md-7 basic-info">
                <input type="name" placeholder="Name"/>
                <br>
                 <input type="text" placeholder="Student Number"/>
                <br>
                <input type="text" placeholder="Address"/>
                <br>
                <input type="number" placeholder="Phone"/>
                 <br>
                <input type="email" placeholder="Email"/>
              </div>
              <div class="col-md-5 cv-image">
                  <label for="file-input">
                    <img id="profile-pic" src="../../assets/images/placeholder.jpg"/>
                 </label>
                <input id="file-input" type="file"/>
              </div>
          </div>



          <div class=" row ">
              <div class="col-md-12 Description">
                <textarea placeholder="Add a small description about yourself here"></textarea>
              </div>
             
          </div>

          <hr>
          <div class=" row ">
              <div class="col-md-12 personal-information">
                <h4>Personal Information and Interests</h4>
                 <input type="text" placeholder="Full Name"/>
                <br>
                <input type="text" placeholder="NIC"/>
                <br>
                 <input type="date" placeholder="Birthday"/>
                <br>
                 <textarea placeholder="Add a small description about your interests here"></textarea>
              </div>
             
          </div>

          <div class=" row ">
              <div class="col-md-12 Education">
                 <h4>Educational Qualifications</h4>
                 <input type="text" placeholder="Educational Qualification 1-GCE O/L"/>
                 <br>
                 <input type="text" placeholder="Educational Qualification 2-GCE A/L"/>
                 <br>
                 <input type="text" placeholder="CGPA"/>
                 <br>
                 <input type="text" placeholder="Educational Qualification 4"/>
              </div>
             
          </div>

          <div class=" row ">
              <div class="col-md-12 Experience">
                 <h4>Experience</h4>
                   <textarea placeholder="Add a small description about your experiences here"></textarea>
              </div>
             
          </div>
         

        </div>

        <!--<button class="btn btn-primary btn-create-resume">Create Resume</button>-->
        <button kendo-button (click)="pdf.saveAs('resume.pdf')">
        Create Resume
      </button>
      <kendo-pdf-export #pdf paperSize="A4" margin="2cm">
          
        </kendo-pdf-export>
     </form>
    </div>
</div>