.create-resume-text{
    margin-top:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:34px;
    text-align: center;
    color:#498DE7;
    margin-bottom:30px;
}

.create-resume-inner{
     width:50%;
    height:100%;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 10px 10px 5px  #888888;
    background:#f5f5f5;
}

h3{
    text-align: center;
    margin-top:10px;
    margin-bottom:30px;
}

.create-resume-form{
    width:95%;
margin-left:auto;
    margin-left:auto;

}
.form-group{
    width:60%;
    
}

input{
    margin-top:10px;
    border-radius: 5px;
    
}

.cv-image > input
{
    display: none;
   
}

.basic-info > input{
   width:200px;

    
}

textarea{
    width:79%;
    height: 80px;
    border-radius: 5px;
    margin-bottom:8px;
}

.personal-information > input{
    width:79%;
}

.personal-information > textarea{
    margin-top:8px;
    height:100px;
}
.personal-information,.Education,.Experience{
    margin-top:10px;
    margin-bottom: 15px;
}
.Education >input{
    width:79%;
}

.Experience > textarea{
    height:150px;
}

.btn-create-resume{

  
    margin-bottom: 20px;
    margin-top:10px;
}

.create-resume-form{
    margin-top:25px;
}