



<div class=" row navigation">
    <div class=" col-md-12 ">
        <ul class="navigation-ul">
            <li class="navigation-ul-one"><a>
                <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                <p class="icon-text"> Home</p>
            </a> </li>
             <li class="navigation-ul-three"><a>
                    <i class="fa fa-files-o fa-3x" aria-hidden="true"></i>
                    <p class="icon-text">Inquiries</p>
            </a> </li>

            <li class="navigation-ul-two"><a>
                <i class="fa fa-files-o fa-3x" aria-hidden="true"></i>
                <p class="icon-text">Student Records</p>
            </a> </li>
           


            <li class="navigation-ul-four"> <a>
                    <i class="fa fa-building fa-3x" aria-hidden="true"></i>
                    <p class="icon-text"> Companies</p>
            </a></li>


                <li class="navigation-ul-five"> <a>
                    <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
                   <p class="icon-text">Create Accounts</p> 
                    </a></li>
           

        </ul>
    </div>
</div>