<div class=" row navigation">
  <div class=" col-md-12 ">
    <ul class="navigation-ul">
      <li class="navigation-ul-one">
        <a (click)="goDashboard()">
          <i class="fa fa-home fa-3x" aria-hidden="true"></i>
          <p class="icon-text"> Home</p>
        </a>
      </li>
      <li class="navigation-ul-three">
        <a (click)="goInquiries()">
          <i class="fa fa-files-o fa-3x" aria-hidden="true"></i>
          <p class="icon-text">Inquiries</p>
        </a>
      </li>
      <li class="navigation-ul-two">
        <a (click)="goStudentRecords()">
          <i class="fa fa-files-o fa-3x" aria-hidden="true"></i>
          <p class="icon-text">Student Records</p>
        </a>
      </li>
      <li class="navigation-ul-four">
        <a (click)="goViewCompanies()">
          <i class="fa fa-building fa-3x" aria-hidden="true"></i>
          <p class="icon-text"> Companies</p>
        </a>
      </li>
      <li class="navigation-ul-five">
        <a (click)="goCreateAccount()">
          <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
          <p class="icon-text">Create Accounts</p>
        </a>
      </li>
    </ul>
  </div>
</div>