
.navigation{
   
    width:100%;
      margin-left: auto;
    margin-right:auto;
    /*margin-right:auto;*/
   text-align: center;
  
}
.navigation-ul{
  
    width:60%;
    margin-left: auto;
    margin-right:auto;
    margin-top:25px;
}


.navigation ul li{
   width:160px;
    list-style-type: none;
    display:inline-block;
    margin-right: -4px;
    border-bottom: 2px solid transparent;
    text-align: center;
   
     
    
}
.navigation ul li a{
    color:#FFFFFF !important;
    cursor:pointer !important;
    text-decoration: none;
    
     text-align: center;
     font-size:15px;
      border-right: 4px solid transparent;
}

.navigation ul li:hover{
        color:#FFFFFF !important;
        border-bottom: 2px solid #ffffff;
      
}


.navigation ul li:hover .fa{
    color:#FFFFFF;
}

.navigation ul li:hover .icon-text{
    color:#FFFFFF;
}
/*.navigation-ul-one{
background: #D54A50;
}

.navigation-ul-two{
    background:#5974AD;
}

.navigation-ul-three{
    background: #F49032;
}

.navigation-ul-four{
    background:#E95F6A;
}*/

.icon-text{
    color:#ffffff;
}
/***************************ICONS**********************/
.fa{
    color:#ffffff;
    padding:5px;
   margin-left: auto;
   margin-right:auto;
   margin-top:30px;
}
/*****************************************************/