 <div class="">
    <app-student-common-nav-bar></app-student-common-nav-bar>

</div>

<div class="apply-form">
    <h3>Apply Now!</h3>
    <form class="apply-job-form">
           <div class="form-group">
            <label for="StudentName">Name</label>
            <input type="text" class="form-control" id="studentname" aria-describedby="nameHelp" placeholder="Enter Name">
           
          </div>

          <div class="form-group">
            <label for="jobID">Job ID</label>
            <input type="text" class="form-control" id="JobID"  placeholder="" >
          </div>

          
         
          
          

          

           <div class="form-group">
            <label for="Resume">Upload Resume</label>
            <input type="file"  id="resume"  placeholder="Please upload your resume here">
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-save-changes">Apply</button>

          </div>





        </form>

</div>