body{
    background-color: #F0F0F0;
    overflow-x: hidden;
    height:100vh !important;
}

html,body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f32f2+0,5181e9+52,22cadd+100 */
background: #6f32f2; /* Old browsers */
background: -moz-linear-gradient(45deg, #6f32f2 0%, #5181e9 52%, #22cadd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #6f32f2 0%,#5181e9 52%,#22cadd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #6f32f2 0%,#5181e9 52%,#22cadd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f32f2', endColorstr='#22cadd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


background-repeat:no-repeat;
height:100vh;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
}