<div class="profile-header">
   

</div>


<div class="col-md-12">
<div class="  profile">
    <div class="col-md-4 profile-image">
        
             <div class="col-md-5 cv-image">
                        <label for="file-input">
                    <img id="profile-pic" src="../../assets/images/profile-dylan.jpg"/>
                 </label>
                        <input id="file-input" type="file" />
                    </div>
            <button class="btn btn-primary btn-profile-pic" data-toggle="modal" data-target="#myModal">Edit Profile</button>
    </div>

    <div class="col-md-6 profile-intro">
        <div class=" profile-name">
        
            <p>Dylan O'Brien</p>
        
        </div>
        <div class=" profile-institute">
        
            <p>Sri Lanka Institute of Information Technology</p>
            <p>Software Engineering - 3rd Year
        </div>
         <hr>
         <div class=" profile-details">
             <table>
                 <tr>
                    <td><label> Age</label></td>
                     <td>26 years</td>
                 </tr>
                  <tr>
                    <td><label> Address</label></td>
                     <td>No 250, Horton Place, Colombo 07</td>
                 </tr>
                 <tr>
                    <td><label>Email</label></td>
                     <td>dylan91@gmail.com</td>
                 </tr>
                 <tr>
                    <td><label>Phone</label></td>
                     <td>+(94)71 2883991</td>
                 </tr>
                
             </table>

               <button class="btn btn-primary btn-resume-view" >View My Resume</button>
        </div>
    </div>
    
   


    
</div>
</div>




  <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="StudentName">Name</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="StudentName">Vacancy heading</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="StudentName">Description</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="StudentName">Duration</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="StudentName">pPain/Non-paid</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text-felid" class="form-control" id="univercityname" aria-describedby="nameHelp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"> Save Changes </button>
                    </div>
                </div>
            </div>
        </div>