<div class="profile-header">
   

</div>


<div class="col-md-12">
<div class="  profile">
    <div class="col-md-4 profile-image">
        
             <img id="profileImage" src="../../../assets/images/profile-dylan.jpg" />
                <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
            <button class="btn btn-primary btn-profile-pic">Edit Profile</button>
    </div>

    <div class="col-md-6 profile-intro">
        <div class=" profile-name">
        
            <p>Dylan O'Brien</p>
        
        </div>
        <div class=" profile-institute">
        
            <p>Sri Lanka Institute of Information Technology</p>
            <p>Software Engineering - 3rd Year
        </div>
         <hr>
         <div class=" profile-details">
             <table>
                 <tr>
                    <td><label> Age</label></td>
                     <td>26 years</td>
                 </tr>
                  <tr>
                    <td><label> Address</label></td>
                     <td>No 250, Horton Place, Colombo 07</td>
                 </tr>
                 <tr>
                    <td><label>Email</label></td>
                     <td>dylan91@gmail.com</td>
                 </tr>
                 <tr>
                    <td><label>Phone</label></td>
                     <td>+(94)71 2883991</td>
                 </tr>
                
             </table>

               <button class="btn btn-primary btn-resume-view">View My Resume</button>
        </div>
    </div>
    
   


    
</div>
</div>