.job-text{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color:#3DA1E4;
    margin-top:60px;
    margin-bottom: 30px;
}

.vacancies-table{
    width:auto;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 30px;

}

table>thead>tr>th{
    text-align: center;
}
table>tbody>tr>td{
    text-align: center;
}

/*.vacancies{
    background: #ffffff !important;
    height:auto;
    padding-bottom:60px;
     margin-left:auto;
    margin-right:auto;
}*/